@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="tweetCount" class="col-5 offset-4">asd</div>
    <div id="averageTweetPerMinute" class="col-5 offset-4">asd</div>
</div>
<div class="row">
    <div class="col-5">
        <canvas id="tweetCountCanvas"></canvas>
    </div>
</div>
<script src="~/js/twitter.js"></script>